<form id="AddProject" ng-submit="submitAddProject()">
  <button ng-click="closeForm()">Close</button>
  <p>________________________________________________________</p>
  <div class="ID">ID</div>
  <div class="IdInput"><input type="text" ng-model="ID" /></div>
  <div class="road">Road</div>
  <div class="roadInput"><input type="text" ng-model="Road" /></div>
  <div class="startDate">Start Date</div>
  <div class="startDateInput"><input type="text" ng-model="StartDate" /></div>
  <div class="endDate">End Date</div>
  <div class="endDateInput"><input type="text" ng-model="EndDate" /></div>
  <div class="contrator">Contrator</div>
  <div class="contratorInput"><input type="text" ng-model="Contrator" /></div>
  <div class="problems">Problems</div>
  <div class="pAuthor">Author</div>
  <div class="pAuthorInput"><input type="text" ng-model="PAuthor" /></div>
  <div class="pText">Text</div>
  <div class="pTextInput"><input type="text" ng-model="PText" /></div>
  <div class="comments">Comments</div>
  <div class="cAuthor">Author</div>
  <div class="cAuthorInput"><input type="text" ng-model="CAuthor" /></div>
  <div class="cText">Text</div>
  <div class="cTextInput"><input type="text" ng-model="CText" /></div>
  <div class="works">Works</div>
  <div class="wType">Type</div>
  <div class="wTypeInput"><input type="text" ng-model="WType" /></div>
  <div class="subContractors">SubContractors</div>
  <div class="subContractorsInput">
    <input type="text" ng-model="SubContractors" />
  </div>
  <div class="status">Status</div>
  <div class="statusInput"><input type="text" ng-model="Status" /></div>

  <!-- <div class="statusInput">
    <select ng-model="Status">
      <option value="open">Open</option>
      <option value="closed">Closed</option>
    </select>
  </div> -->
  <button
    ng-click="closeForm()"
    input
    type="submit"
    onclick="alert('Project added Sucessfully')"
    value="Submit"
  >
    Submit
  </button>
  <button type="reset" value="Reset">Reset</button>
</form>
