<form id="addRoad" ng-submit="submitAddRoad()">
  <button ng-click="closeForm()">Close</button>
  <p>________________________________________________________</p>
  <div class="ID">ID</div>
  <div class="IdInput"><input type="text" ng-model="ID" /></div>
  <div class="code">Code</div>
  <div class="codeInput"><input type="text" ng-model="Code" /></div>
  <div class="type">Type</div>
  <div class="typeInput"><input type="text" ng-model="Type" /></div>
  <div class="section">Section</div>
  <div class="sectionInput"><input type="text" ng-model="Section" /></div>
  <div class="location">Location</div>
  <div class="locationInput"><input type="text" ng-model="Location" /></div>
  <div class="gps">GPS</div>
  <div class="gpsInput"><input type="text" ng-model="GPS" /></div>
  <button
    ng-click="closeForm()"
    input
    type="submit"
    onclick="alert('Road added Sucessfully')"
    value="Submit"
  >
    Submit
  </button>
  <button type="reset" value="Reset">Reset</button>
</form>
