<form id='loginForm'>
  <div class='loginContainer'>
    <label for='uName'>Username: </label>
    <input type='text' placeholder='Enter username' name='uName' ng-model='username'>

    <label for='pWord'>Password: </label>
    <input type='password' placeholder='Enter password' name='pWord' ng-model='password'>

    <div class='buttonWrapper'>
        <button type='reset' class='clearBtn'>Clear</button>
        <button class='loginBtn' ng-click=submit()> Log In</button>
        
    </div>

  </div>
</form>