<div ng-app='myApp'>
    <div class="grid-container">
        <div class="header">
        </div>
        <div class="left" style="background-color:#aaa;">Column</div>
  <div class="middle" style="background-color:#bbb;">
  <form>
    <label>Username: </label>
    <br>
    <input type='text' name='Username' ng-model='username'>
    <br>
    <label>Password: </label>
    <br>
    <input type='password' name='Password' ng-model='password'>
    <br>
    <br>
    <button type='reset'>Clear</button>
    <button ng-click=submit()> Log In</button>
  </form>
  <div class="right" style="background-color:#ccc;
  ">Column</div>
  <div class="footer">
      <p>Footer</p>
    </div>
  </div>
</div>
