<div class="headerBar">
  <h1>Track</h1>
  <a href="#!/road">Road</a>
  <a href="#!/project">Project</a>
</div>

<form id="roadForm">
  <div class="roadOuterContainer">
    <div class="roadButtons">
      <button ng-click="addRoad()">Add</button>
    </div>

    <ul style="list-style: none;">
      <div class="roadInnerContainer">
        <div class="roadObject">
          <li ng-repeat='item in roads'>
            <div class="id">
              <h3>ID:</h3>
            </div>
            <div class="idOutput">{{item.ID}}</div>
            <div class="code">
              <h3>Code:</h3>
            </div>
            <div class="codeOutput">{{item.Code}}</div>
            <div ng-show="view">
              <div class="type">
                <h3>Type:</h3>
              </div>
              <div class="typeOutput">{{item.Type}}</div>

              <div class="section">
                <h3>Section:</h3>
              </div>
              <div class="sectionOutput">{{item.section}}</div>

              <div class="location">
                <h3>Location:</h3>
              </div>
              <div class="locationOutput">{{item.Location}}</div>

              <div class="gps">
                <h3>GPS:</h3>
              </div>
              <div class="gpsOutput">{{item.GPS}}</div>
            </div>
            <button ng-click="viewMore()" ng-hide ="view">View More</button>
            <button ng-click="viewLess()" ng-show ="view">View Less</button>
            <button>Archive</button>
            <button ng-click="delete(item.ID)">Delete</button>
    </ul>

  </div>
  </div>

</form>
<div class="footerBar">
    <button ng-click="logOut()">Log Out</button>
</div>