body{
  width: 60%;
  min-width: 750px;
  padding: 10px;
  margin: auto;
}

#loginForm {
  border: 2px solid black;
}

#loginForm label{
  font-weight: bold;
  font-size: 20px;
}

#loginForm input {
  width: 100%;
  padding: 5px 20px;
  margin: 10px auto;
  box-sizing: border-box;
}

.buttonWrapper {
  text-align: center;
}

#loginForm button {
  width: 30%;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

#loginForm button:hover {
  opacity: 0.7;
}

.clearBtn:hover {
  background-color: #ce8282
}

.loginBtn:hover {
  background-color: #94ce82
}

.loginContainer {
  padding: 15px;
}