#loginForm {
  border: 2px solid #d11e1e;
}

#loginForm input {
  width: 100%;
  padding: 6px 30px;
  margin: 10px auto;
  box-sizing: border-box;
}

.buttonWrapper {
  text-align: center;
}

#loginForm button {
  width: 30%;
  padding: 10px;
  margin: 10px;
}